# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
src/trash

# TC221206: Data
src/data/*
src/data_p50s.tar.gz
